# Copyright (c) 2020 Stefan Sundin (4pplet)
# SPDX-License-Identifier: MIT

if BOARD_YAW_KB

config ZMK_KEYBOARD_NAME
	default "yaw-kb"

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

config BOARD
    default "yaw-kb"

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER

config ZMK_POINTING
    default y

config I2C
    default y

config ZMK_STUDIO
    default y

endif